@model flightReservationSystem.Model.Flight

@{
    ViewBag.Title = "Add Flight";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<h2>Uçuş Ekle</h2>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        @using (Html.BeginForm("AddFlight", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label><strong>Uçuş Numarası</strong></label>
                                @Html.TextBoxFor(model => model.FlightNumber, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label><strong>Kalkış Şehri</strong></label>
                                @Html.EditorFor(model => model.DepartureCityID, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label><strong>Varış Şehri</strong></label>
                                @Html.EditorFor(model => model.ArrivalCityID, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label><strong>Kalkış Zamanı</strong></label>
                                @Html.TextBoxFor(model => model.DepartureDateTime, "{0:MM/dd/yyyy HH:mm}", new { @class = "form-control date-time-picker" })
                            </div>

                            <div class="form-group">
                                <label><strong>Varış Zamanı</strong></label>
                                @Html.TextBoxFor(model => model.ArrivalDateTime, "{0:MM/dd/yyyy HH:mm}", new { @class = "form-control date-time-picker" })
                            </div>

                            <div class="form-group">
                                <label><strong>Koltuk Sayısı</strong></label>
                                @Html.EditorFor(model => model.SeatCapacity, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label><strong>Bilet Fiyatı</strong></label>
                                @Html.EditorFor(model => model.PricePerSeat, new { @class = "form-control" })
                            </div>

                            <button type="submit" class="btn btn-primary">Uçuş Ekle</button>
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        // Check if jQuery UI is loaded
        if (typeof $.ui !== 'undefined') {
            console.log("jQuery UI is loaded.");
        } else {
            console.error("jQuery UI is not loaded.");
        }

        // Check if datetimepicker is loaded
        if ($.fn.datetimepicker) {
            console.log("datetimepicker is loaded.");
        } else {
            console.error("datetimepicker is not loaded.");
        }

        // Initialize datetimepicker
        $(".date-time-picker").datetimepicker({
            dateFormat: 'mm/dd/yy',
            timeFormat: 'HH:mm'
        });
    });
</script>
