@model flightReservationSystem.Model.Flight
@{
    ViewBag.Title = "UpdateFlight";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<h2>Uçuş Güncelle</h2>

@using (Html.BeginForm("UpdateFlight", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FlightID, new { @class = "form-control" })
    <div class="form-group">
        @Html.LabelFor(model => model.FlightNumber)
        @Html.TextBoxFor(model => model.FlightNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureCityID)
        <select class="form-control" name='DepartureCityID' onchange='this.form.()'>
            <option value="@Model.DepartureCityID">@Model.DepartureCity</option>
            @foreach (var item in ViewBag.cities)
            {
                <option value="@item.CityID">@item.CityName</option>
            }

        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalCityID)

        <select class="form-control" name='ArrivalCityID' onchange='this.form.()'>
            <option value="@Model.ArrivalCityID">@Model.ArrivalCity</option>
            @foreach (var item in ViewBag.cities)
            {
                <option value="@item.CityID">@item.CityName</option>
            }

        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDateTime)
        @Html.TextBoxFor(model => model.DepartureDateTime, "{0:MM/dd/yyyy HH:mm}", new { @class = "form-control date-time-picker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalDateTime)
        @Html.TextBoxFor(model => model.ArrivalDateTime, "{0:MM/dd/yyyy HH:mm}", new { @class = "form-control date-time-picker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SeatCapacity)
        @Html.EditorFor(model => model.SeatCapacity, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PricePerSeat)
        @Html.EditorFor(model => model.PricePerSeat, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
}

<!-- Jquery JS-->
<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        // Check if jQuery UI is loaded
        if (typeof $.ui !== 'undefined') {
            console.log("jQuery UI is loaded.");
        } else {
            console.error("jQuery UI is not loaded.");
        }

        // Check if datetimepicker is loaded
        if ($.fn.datetimepicker) {
            console.log("datetimepicker is loaded.");
        } else {
            console.error("datetimepicker is not loaded.");
        }

        // Initialize datetimepicker
        $(".date-time-picker").datetimepicker({
            dateFormat: 'mm/dd/yy',
            timeFormat: 'HH:mm'
        });
    });
</script>

